@use '../abstracts' as *;

h1,
h2,
h3,
a,
.card__heading {
  font-family: $ff-josefin-sans;
  font-weight: 300;
  text-transform: uppercase;
}

h2,
h3 {
  font-size: rem(64);
  text-align: center;

  @include breakpoint(large) {
    font-size: rem(48);
    text-align: start;
  }
}

p {
  font-size: rem(30);
  font-family: $ff-alata;
  font-weight: 400;
  text-align: center;
  line-height: rem(49);

  @include breakpoint(large) {
    font-size: rem(15);
    line-height: rem(24);
    text-align: start;
  }
}

a,
a:active,
a:visited {
  text-decoration: none;
}

.header__heading {
  font-size: rem(78);
  line-height: rem(76);
  letter-spacing: rem(1);
  color: $clr-white;

  @include breakpoint(large) {
    font-size: rem(71);
    line-height: rem(70);
  }
}

.menu__link {
  font-family: $ff-alata;
  font-weight: 300;
  text-transform: none;
  color: $clr-white;

  @include breakpoint-down(large) {
    &--nav {
      font-family: $ff-josefin-sans;
      font-size: rem(48);
      text-transform: uppercase;
    }
  }

  @include breakpoint(medium) {
    font-size: rem(30);
  }

  @include breakpoint(large) {
    font-size: rem(15);
  }
}

.interactive__description {
  color: $clr-very-dark-gray;
}

.creations__link {
  font-family: $ff-alata;
  font-size: rem(28);
  font-weight: 400;
  letter-spacing: rem(10);
  color: $clr-black;

  @include breakpoint(large) {
    font-size: rem(12);
    letter-spacing: rem(6);
  }
}

.card__heading {
  font-size: rem(47);
  text-align: start;
  letter-spacing: rem(0.7);
  color: $clr-white;

  @include breakpoint(large) {
    font-size: rem(32);
    letter-spacing: normal;
  }
}

.socials {
  &__link {
    color: $clr-white;
  }
}

.footer {
  text-align: center;

  &__copyright {
    color: $clr-dark-gray;
  }

  &__attribution {
    font-size: rem(15);
    color: $clr-white;

    a {
      font-family: inherit;
      font-size: inherit;
      text-transform: none;
      color: inherit;
      transition: color 150ms ease;

      &:hover,
      &:focus-visible {
        color: $clr-dark-gray;
      }
    }
  }
}
