@use '../abstracts' as *;

h1,
h2,
h3,
a,
.card__heading {
  font-family: $ff-josefin-sans;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: rem(30);
  text-align: center;

  @include breakpoint(medium) {
    font-size: rem(64);
  }

  @include breakpoint(large) {
    font-size: rem(48);
    text-align: start;
  }
}

p {
  font-family: $ff-alata;
  font-weight: 400;
  text-align: center;

  @include breakpoint(medium) {
    font-size: rem(30);
    line-height: rem(49);
  }

  @include breakpoint(large) {
    font-size: rem(15);
    line-height: rem(24);
    text-align: start;
  }
}

a,
a:active,
a:visited {
  text-decoration: none;
}

.header__heading {
  font-size: clamp(rem(28), 9vw, rem(40));
  line-height: 1.1em;
  letter-spacing: rem(0.5);
  color: $clr-white;

  @include breakpoint(medium) {
    font-size: rem(78);
    line-height: rem(76);
    letter-spacing: rem(1);
  }

  @include breakpoint(large) {
    font-size: rem(71);
    line-height: rem(70);
  }
}

.menu__link {
  font-family: $ff-alata;
  font-size: rem(16);
  font-weight: 300;
  text-transform: none;
  color: $clr-white;

  @include breakpoint(medium) {
    font-size: rem(30);
  }

  &--nav {
    font-size: rem(28);

    @include breakpoint-down(large) {
      font-family: $ff-josefin-sans;
      text-transform: uppercase;
    }

    @include breakpoint(medium) {
      font-size: rem(48);
    }
  }

  @include breakpoint(large) {
    font-size: rem(15);
  }
}

.interactive__description {
  color: $clr-very-dark-gray;
}

.creations__link {
  font-family: $ff-alata;
  font-size: rem(18);
  font-weight: 400;
  letter-spacing: rem(4);
  color: $clr-black;

  @include breakpoint(medium) {
    font-size: rem(28);
    letter-spacing: rem(10);
  }

  @include breakpoint(large) {
    font-size: rem(12);
    letter-spacing: rem(6);
  }
}

.card__heading {
  font-size: rem(26);
  letter-spacing: rem(0.7);
  text-align: start;
  color: $clr-white;

  @include breakpoint(medium) {
    font-size: rem(47);
  }

  @include breakpoint(large) {
    font-size: rem(32);
    letter-spacing: normal;
  }
}

.socials {
  &__link {
    color: $clr-white;
  }
}

.footer {
  text-align: center;

  &__copyright {
    color: $clr-dark-gray;
  }

  &__attribution {
    font-size: rem(15);
    line-height: 1.8em;
    color: $clr-white;

    @include breakpoint(medium) {
      line-height: normal;
    }

    a {
      font-family: inherit;
      font-size: inherit;
      text-transform: none;
      color: inherit;
      transition: color 150ms ease;

      &:hover,
      &:focus-visible {
        color: $clr-dark-gray;
      }
    }
  }
}
