@use '../abstracts' as *;

.container {
  width: min(100%, rem(1110) + 2 * var(--padding-inline-con));
  padding-inline: var(--padding-inline-con);
  margin-inline: auto;

  &--header {
    @include breakpoint(medium) {
      padding-block-start: var(--padding-block-start-con);
    }
    @include breakpoint(large) {
    }
  }

  &--main {
    @include breakpoint(medium) {
      padding-block: rem(192);
    }
    @include breakpoint(large) {
      padding-block: rem(160);
    }
  }

  &--footer {
    @include breakpoint(medium) {
      padding-block: rem(110) rem(20);
    }
    @include breakpoint(large) {
    }
  }
}
