@use '../abstracts' as *;

.creations {
  display: grid;
  justify-items: center;
  grid-template-areas: 'heading' 'cards' 'link';
  margin-block-start: rem(30);

  @include breakpoint(medium) {
    margin-block-start: rem(101);
  }

  @include breakpoint(large) {
    justify-items: flex-start;
    align-items: center;
    grid-template-columns: 1fr min-content;
    grid-template-areas: 'heading link' 'cards cards';
    margin-block-start: rem(185);
  }

  &__link {
    width: rem(180);
    height: rem(54);
    grid-area: link;
    border: rem(2) solid $clr-black;
    transition: 200ms ease;
    transition-property: color, background-color;

    @include breakpoint(medium) {
      width: rem(316);
      height: rem(82);
    }

    @include breakpoint(large) {
      width: rem(159);
      height: rem(42);
    }

    &:hover,
    &:focus-visible {
      background-color: $clr-black;
      color: $clr-white;
    }
  }

  &__cards {
    width: 100%;
    grid-area: cards;
    display: grid;
    justify-items: center;
    row-gap: rem(30);
    margin-block: rem(50) rem(40);

    @include breakpoint(medium) {
      row-gap: rem(48);
      margin-block: rem(96) rem(67);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(auto-fit, minmax(rem(256), 1fr));
      gap: rem(30);
      margin-block: rem(80) 0;
    }
  }
}
