@use '../abstracts' as *;

.interactive {
  position: relative;

  &__picture {
    justify-content: center;
  }

  &__img {
    width: min(100%, rem(850));
    height: rem(448);
    object-fit: cover;
    object-position: top center;
  }

  &__content {
    padding: rem(95) rem(54);
  }

  &__heading {
    margin-block-end: rem(36);
  }
}
