@use '../abstracts' as *;

.interactive {
  position: relative;

  &__picture {
    justify-content: center;

    @include breakpoint(large) {
      justify-content: flex-start;
    }
  }

  &__img {
    width: min(100%, rem(850));
    height: rem(380);
    object-fit: cover;
    object-position: top center;

    @include breakpoint(medium) {
      height: rem(448);
    }

    @include breakpoint(large) {
      width: min(100%, rem(731));
      height: rem(500);
    }
  }

  &__content {
    max-width: rem(542);
    padding: rem(64) 0;
    margin-inline: auto;

    @include breakpoint(medium) {
      max-width: none;
      padding: rem(95) rem(54);
    }

    @include breakpoint(large) {
      width: rem(542);
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $clr-white;
      padding: min(7vw, rem(95)) 0 0 min(7vw, rem(97));
    }
  }

  &__heading {
    max-width: 14ch;
    margin: 0 auto rem(20);

    @include breakpoint(medium) {
      margin-block-end: rem(36);
    }

    @include breakpoint(large) {
      margin-block-end: rem(28);
    }
  }
}
