@use '../abstracts' as *;

.logo {
  width: rem(168);
  height: rem(28);
  display: inline-flex;

  @include breakpoint(medium) {
    width: rem(288);
    height: rem(48);
  }

  @include breakpoint(large) {
    width: rem(192);
    height: rem(32);
  }

  &--footer {
    @include breakpoint(large) {
      width: rem(144);
      height: rem(24);
      grid-area: logo;
    }
  }
}
