@use '../abstracts' as *;

.menu {
  @include breakpoint-down(large) {
    &--nav {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 100;
      background-color: $clr-black;
      padding: var(--padding-nav-menu);
      overflow-y: auto;
      transform: translateX(-100%);
      visibility: hidden;

      &.active {
        animation: open-menu 300ms ease forwards;

        @keyframes open-menu {
          100% {
            visibility: visible;
            transform: translateX(0);
          }
        }
      }

      &.closing {
        animation: close-menu 300ms ease forwards;

        @keyframes close-menu {
          0% {
            visibility: visible;
            transform: translateX(0);
          }
          100% {
            visibility: hidden;
            transform: translateX(-100%);
          }
        }
      }
    }

    &--footer {
      margin-block-start: rem(66);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(medium) {
      margin-block-end: rem(318);
    }

    @include breakpoint(large) {
      display: none;
    }
  }

  &__list {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
      min-height: auto;
      flex-direction: row;
      column-gap: rem(33);
      // margin-inline-end: rem(3);
    }

    &--header {
      @include breakpoint(medium) {
        row-gap: rem(50);
      }
    }

    &--footer {
      justify-content: center;
      align-items: center;

      @include breakpoint(medium) {
        row-gap: rem(41);
      }
    }
  }
}
