@use '../abstracts' as *;

.socials {
  margin-block-start: rem(50);

  @include breakpoint(medium) {
    margin-block-start: rem(100);
  }

  @include breakpoint(large) {
    grid-area: socials;
    margin-block-start: 0;
  }

  &__link {
    --small-icon-w: 1.5rem;
    --small-icon-h: var(--small-icon-w);
    --large-icon-w: 3rem;
    --large-icon-h: var(--large-icon-w);
    width: var(--small-icon-w);
    height: var(--small-icon-h);

    @include breakpoint(medium) {
      width: var(--large-icon-w);
      height: var(--large-icon-h);
    }

    @include breakpoint(large) {
      width: var(--small-icon-w);
      height: var(--small-icon-h);
    }

    &--twitter {
      --small-icon-h: 1.25rem;
      height: var(--small-icon-h);

      @include breakpoint(medium) {
        --large-icon-w: 2.5rem;
        height: var(--large-icon-h);
      }

      @include breakpoint(large) {
        height: var(--small-icon-h);
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(20);

    @include breakpoint(medium) {
      column-gap: rem(32);
    }

    @include breakpoint(large) {
      column-gap: rem(16);
    }
  }
}
