@use '../abstracts' as *;

.footer {
  background-color: $clr-black;
  padding: rem(110) rem(48) 0;

  &__copyright {
    padding-block: rem(32);
  }

  &__attribution {
    padding-block: rem(24);

    a {
      display: inline;
    }

    .fa-heart {
      margin-inline: 0.125em;
      color: $clr-red;
      animation: heart-pulse 2000ms linear infinite;

      @keyframes heart-pulse {
        0%{
          transform: scale(1);
        }
        50%{
          transform: scale(1.2);
        }
        100%{
          transform: scale(1);
        }
      }
    }
  }
}