@use '../abstracts' as *;

.footer {
  background-color: $clr-black;

  &__copyright {
    margin-block: rem(24) rem(40);

    @include breakpoint(medium) {
      margin-block: rem(32) rem(61);
    }

    @include breakpoint(large) {
      margin-block: 0;
    }
  }

  &__attribution {
    @include breakpoint(large) {
      grid-area: attribution;
      justify-self: center;
    }

    .fa-heart {
      margin-inline: 0.125em;
      color: $clr-red;
      animation: heart-pulse 2000ms linear infinite;

      @keyframes heart-pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.2);
        }
        100% {
          transform: scale(1);
        }
      }
    }
  }
}
