@use '../abstracts' as *;

.header {
  width: 100%;
  height: rem(700);
  background: url('../../../images/mobile/image-hero.jpg') top left / cover no-repeat;

  @include breakpoint(medium) {
    height: rem(1300);
  }

  @include breakpoint(large) {
    height: rem(650);
    background-image: url('../../../images/desktop/image-hero.jpg');
  }

  &__banner {
    width: fit-content;
    border: rem(3) solid $clr-white;
    padding: clamp(rem(20), 7vw, rem(40)) clamp(rem(18), 6vw, rem(38)) clamp(rem(14), 5vw, rem(28));
    margin: rem(200) auto 0;

    @include breakpoint(medium) {
      border-width: rem(4);
      padding: rem(50) rem(48) rem(34);
      margin-block-start: rem(324);
    }

    @include breakpoint(large) {
      width: min(100%, rem(652));
      border-width: rem(2);
      padding: rem(39) rem(39) rem(27);
      margin: rem(129) 0 0;
    }
  }

  &__heading {
    max-width: 12ch;
  }
}
